<div class = "main-visual">
  <div class = "container">
    <div class = "row">
      <div class=" btn-wrapper col-5 mx-auto btn-area">
        <%= link_to "つづきから", new_user_session_path, class: "btn-login btn-block mb-5"%>
        <%= link_to "あたらしくはじめる", new_user_registration_path, class: "btn-signin btn-block" %>
      </div>
    </div>
    <div class="scroll-area">
      <div class="container">
        <div class="row">
          <div class="mx-auto col-11">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-main">
  <div class="container">
    <div class="row">
      <p>testtesttest</p>
      <p>testtesttest</p>
      <p>testtesttest</p>
      <p>testtesttest</p>
      <p>testtesttest</p>
    </div>
  </div>
</div>